<a href="https://colab.research.google.com/github/m4idy/Series_for/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SERIES USANDO FOR

In [ ]:
# Serie 1: 1, 2, 3, 4, 5, 6, 7, 8, 9 10

print("...........................................")
print("..................serie 1..................")
print("...........................................")

S="serie: {"
for i in range(1,11):
  S=S + str(i) + ", "
S=S +"}"
print(S)

In [ ]:
# Serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81, ........

print("...........................................")
print("..................serie 2..................")
print("...........................................")

S="serie: {"
for i in range(1,11):
  if i!=10:
    S=S + str(i**2) + ", "
  else:
    S=S + str(i**2) 
  
S=S +"}"
print(S)

In [ ]:
# Serie 3: 2, 4, 8, 16, 32, 64 .......

print("...........................................")
print("..................serie 3..................")
print("...........................................")

S="serie: {"
for i in range(2,11):
  if i!=10:
    S=S + str(2**i) + ", "
  else:
    S=S + str(2**i) 
  
S=S +"}"
print(S)

In [ ]:
# Serie 4: 2, 6, 12, 20, 30, 42, 56 .......

print("...........................................")
print("..................serie 4..................")
print("...........................................")

S="serie: {"
for i in range(1,11):
  if i!=10:
    S=S + str(i**2+i) + ", "
  else:
    S=S + str(i**2+i) 
  
S=S +"}"
print(S)